@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: #FFFFFF14;
  ;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000000B6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}